<div id="<%= dom_id poem %>">
  <p>
    <strong>Name:</strong>
    <%= poem.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= poem.style %>
  </p>

  <p>
    <strong>Poem:</strong>
    <%= poem.poem %>
  </p>

  <p>
    <strong>Poet:</strong>
    <%= poem.poet_id %>
  </p>

  <p>
  <%= link_to "Poets", poets_path %>

</div>
