<div id="<%= dom_id poem %>">
<!-- Individual poem page -->
  <p>
    <strong>Name:</strong>
    <%= poem.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= poem.style %>
  </p>

  <p>
    <strong>Poem:</strong>
    <%= poem.poem %>
  </p>

  <p>
    <strong>Poet:</strong>
    <%= link_to poem.poet.name, poem.poet %>
  </p>

  <p>
  <%= link_to "Back to Poets", poets_path %>

</div>
