<!DOCTYPE html>
<html>
  <head>
    <title>Poetry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="navbar">
      <%= link_to 'poets', poets_path %>
      <%= link_to 'poems', poems_path %>
    </div>
    <%= yield %>
  </body>
</html>
